article {
  position: relative;
}

article img {
  box-shadow:
  rgba(0, 0, 0, 0.075) 0px 1px 0px,
  rgba(0, 0, 0, 0.05) 0px 1px 4px,
  rgba(0, 0, 0, 0.05) 0px 10px 20px;
}

@media screen and (min-width: 60em) {
  section article div {
    flex: 0 0 30em;
    margin-right: var(--space-lg);
  }

  section article:nth-child(even) {
    flex-direction: row-reverse;
  }

  section article:nth-child(even) div {
    margin-right: 0;
    margin-left: var(--space-lg);
  }

}
