article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

article img {
  box-shadow:
  rgba(0, 0, 0, 0.075) 0px 1px 0px,
  rgba(0, 0, 0, 0.05) 0px 1px 4px,
  rgba(0, 0, 0, 0.05) 0px 10px 20px;
}

article:first-child {
  padding-top: 0;
}

figure {
  margin: 0;
}

article div,
article figure {
  padding: var(--space-unit);
}

@media screen and (min-width: 60em) {
  article {
    flex-direction: row;
    padding-top: var(--space-xxxl);
    padding-bottom: var(--space-xxxl);
  }
  article div {
    flex: 0 0 var(--measure);
  }

  article:nth-child(even) {
    flex-direction: row-reverse;
  }

}
