.black-theme main {
  padding-top: 0;
}

.black-theme main .hero {
  padding-top: 64px;
}

.black-theme header nav a {
  color: var(--white);
}

.black-theme h1 {
  color: var(--white);
}

.black-theme .scrolled {
  transition: all 300ms ease;
}

.black-theme .scrolled nav a {
  color: var(--color-primary);
}

.black-theme .scrolled .cta-line-white {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.black-theme .hero-skew {
  background-color: var(--black);
}
