.bg-red {
  background-color: var(--color-accent);
}
.bg-orange {
  background-color: var(--color-accent-2);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-dark-gray {
  background-color: var(--color-primary);
}
.bg-black {
  background-color: var(--black);
}
.bg-silver {
  background-color: var(--silver);
}

.handwriting {
  color: var(--blue);
}

header.scrolled {
  background-color: rgba(255,255,255,.5);
  background-color: var(--white);
}

footer,
.more {
  background-color: var(--black);
}

footer {
  color: var(--white);
}

footer a {
  color: var(--white);
}
