header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  transition: all 200ms;
  z-index: 10;
  padding-left: var(--space-unit);
  padding-right: var(--space-unit);
}

header div {
  height: 64px;
}

header .cta {
  display: none;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  header .cta {
    display: inline-block;
  }
}

@media screen and (min-width: 60em) {
  header .cta {
    display: inline-block;
  }
}
