header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  transition: all 200ms;
  z-index: 10;
  padding-left: var(--space-unit);
  padding-right: var(--space-unit);
}

header .header-wrap {
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 96rem;
}

header .cta {
  display: none;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  header .cta {
    display: inline-block;
  }
}

@media screen and (min-width: 60em) {
  header .cta {
    display: inline-block;
  }
}
