.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 96rem;
}

.space-a1 {
  padding: var(--space-unit);
}

.space-v1 {
  padding: var(--space-unit);
  margin-left: auto;
  margin-right: auto;
}

.space-v2 {
  padding: var(--space-xl) 0;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  position: relative;
  padding: var(--space-unit);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 60em) {
  .hero {
    padding: var(--space-xxxl) 0;
  }
  .space-v1,
  .space-v2 {
    padding: var(--space-xxxl) 0;
  }
  .footer-wrap {
    flex-direction: row;
  }

}
