a {
  text-decoration: none;
}

a:hover {
  transition: all .15s ease;
}

.link {
  border-bottom: 1px solid var(--color-dark-gray);
}

nav a {
  display: inline-block;
  color: var(=-dark-gray);
  font-size: var(--font-size-5);
  margin-left: var(--base-spacing);
  font-weight: var(--font-weight-6);
}

@media screen and (min-width: 60em) {
  nav a {
    margin-left: var(--spacing-large);
  }
}


.cta {
  text-decoration: none;
  display: inline-block;

  background: var(--color-red);
  color: var(--color-white);

  font-weight: var(--font-weight-6);
  line-height: var(--line-height-solid);
  border-radius: var(--base-radius-large);
  text-transform: uppercase;
  letter-spacing: 1px;

}

/* #COLORS */

.cta:hover {
  background: var(--color-orange);
  color: var(--color-white);
}

.cta-line {
  background: none;
  border-color: var(--color-red);
  border-style: solid;
  border-width: 2px;
  color: var(--color-red);
}

.cta-line:hover {
  background: none;
  border-color: var(--color-orange);
  color: var(--color-orange);
}

.cta-white {
  background: var(--color-white);
  color: var(--color-black);
}

.cta-black {
  background: var(--color-black);
  color: var(--color-white);
}

/* #SIZES */

.cta-l {
  font-size: var(--font-size-5);
  padding: var(--base-spacing) var(--spacing-large);
}

.cta-s {
  font-size: var(--font-size-6);
  padding: var(--spacing-small) var(--base-spacing);
}
