a {
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

a:hover {
  transition: all .15s ease;
}

.link {
  border-bottom: 1px solid var(--color-dark-gray);
}

nav a {
  display: inline-block;
  color: var(--dark-gray);
  font-size: var(--font-size-5);

  font-weight: var(--font-weight-6);
}

nav a.active {
  text-decoration: underline;
}

header nav a {
  margin-left: var(--base-spacing);
}

@media screen and (min-width: 60em) {
  header nav a {
    margin-left: var(--spacing-large);
  }
}


.cta {
  text-decoration: none;
  display: inline-block;

  background: var(--color-red);
  color: var(--color-white);

  font-weight: var(--font-weight-6);
  line-height: var(--line-height-solid);
  border-radius: var(--base-radius-large);
  text-transform: uppercase;
  letter-spacing: 1px;

  /* opacity: 1;
  transition: opacity .15s ease-in; */
  transition: all .15s ease;

}

.cta-shadow {
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;
}

.cta-shadow:hover {
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
}

.cta-shadow:active {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

/* #COLORS */

.cta:hover {
  xbackground: var(--color-black);
  xcolor: var(--color-white);
  /* opacity: 0.5;
  transition: opacity .15s ease-in; */
  transform: translateY(-2px);
}

.cta-line {
  background: none;
  border-color: var(--color-red);
  border-style: solid;
  border-width: 2px;
  color: var(--color-red);
}

.cta-line-white {
  background: none;
  border-color: var(--color-white);
  border-style: solid;
  border-width: 2px;
  color: var(--color-white);
}

.cta-line:hover {
  background: none;
  xborder-color: var(--color-black);
  xcolor: var(--color-black);
}

.cta-line-white:hover {
  background: none;
  xborder-color: var(--color-black);
  xcolor: var(--color-black);
}

.cta-white {
  background: var(--color-white);
  color: var(--color-black);
}

.cta-black {
  background: var(--color-black);
  color: var(--color-white);
}

/* #SIZES */

.cta-l {
  font-size: var(--font-size-5);
  padding: var(--base-spacing) var(--spacing-large);
}

.cta-s {
  font-size: var(--font-size-6);
  padding: var(--spacing-small) var(--base-spacing);
}
