.logo.red {
  fill: var(--color-accent);
}

.logo.black {
  fill: var(--black);
}

.logo.white {
  fill: var(--white);
}

.logo {
  fill: url(#logo);
}

.logo #logo {
  --color-stop-1: var(--color-accent);
  --color-stop-2: var(--color-accent-2);
}

.csspurge .logo #logo {
  --color-stop-1: var(--white);
  --color-stop-2: var(--white);
}

.csspurge .scrolled .logo #logo {
  --color-stop-1: var(--color-accent);
  --color-stop-2: var(--color-accent-2);
}
