@import "tachyons.min.css";
@import "variables.css?version=2";
@import "typography.css?version=2";
@import "colors.css?version=2";
@import "layout.css?version=3";
@import "header.css?version=2";
@import "fonts.css?version=2";
@import "quote.css?version=2";
@import "animations.css?version=2";
@import "links.css?version=2";
@import "articles.css?version=2";
@import "pages.css?version=3";
@import "features.css?version=2";
@import "social.css?version=2";
@import "flows.css?version=2";
@import "footer.css?version=2";
@import "logo.css?version=2";
@import "white-theme.css?version=2";
@import "black-theme.css?version=2";
/*
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');
*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/*
@media screen and (min-width: 30em) {}
@media screen and (min-width: 30em) and (max-width: 60em) {}
@media screen and (min-width: 60em) {}
*/

body {
  font-size: var(--base-font-size);
  font-family: var(--font-system);
  color: var(--color-primary);
}

main {
  padding-top: 64px;
}

iframe {
  max-width: 100%;
}
