.quotes {
justify-content: space-evenly;
}

.quote-wrap h4 {
  height: 15rem;
  xbackground: red;
}

.quote {
box-shadow: 0 0 1px rgba(0,0,0, 0.15);
xbox-shadow: 0 0 1px rgba(31,45,61,.05);
padding: 1rem;
border-radius: .5rem;
xfont-family: 'Roboto Mono';
xmargin: 5rem 1rem;
xmargin-bottom: 3rem;
xwidth: 50%;
flex: auto;
}

.quote img {
width: 44px;
border-radius: 500px;
}

.quote p {
margin: .5rem 0;
max-width: 30em;
}

cite {
color: #aaa;
font-style: normal;
font-size: 0.875rem;
display: flex;
align-items: center;
}

cite img {
margin-right: 1rem;
}

.btn-circle {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 500px;
  background-color: #ffffff;
  border: 2px solid #FF4136;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 5px 5px 0 rgba(220,224,228,0.4); */
}

.btn-circle svg {
  fill: #FF4136;
}

.next,
.prev {
  cursor: pointer
}
