.social svg {
width: 22px;
}

.social svg {
fill: var(--color-silver);
}

.social a {
margin: 0 var(--base-spacing);
border-bottom: 0;
}

@media screen and (min-width: 60em) {
  .social a {
  margin-left: var(--spacing-large);
  }
}

.instagram:hover svg {
fill: var(--color-instagram);
}

.linkedin:hover svg {
fill: var(--color-linkedin);
}

.dribbble:hover svg {
fill: var(--color-dribbble);
}

.github:hover svg {
fill: var(--color-github);
}

.twitter:hover svg {
fill: var(--color-twitter);
}
