.social svg {
width: 22px;
}

.social svg {
fill: var(--silver);
}

.social a {
margin: 0 var(--space-unit);
border-bottom: 0;
text-decoration: none;
}

@media screen and (min-width: 60em) {
  .social a {
  margin-left: var(--space-lg);
  }
}

.instagram:hover svg {
fill: var(--instagram);
}

.linkedin:hover svg {
fill: var(--linkedin);
}

.dribbble:hover svg {
fill: var(--dribbble);
}

.github:hover svg {
fill: var(--github);
}

.twitter:hover svg {
fill: var(--twitter);
}
