.f-headline {
  font-size: var(--font-size-1);
}

h1,
.h1 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-title);
  font-weight: var(--font-weight-6);
  margin-top: 0;
  margin-bottom: var(--base-spacing);
}

@media screen and (min-width: 60em) {
  h1 {
    font-size: var(--font-size-1);
  }
  .f-headline {
    font-size: var(--f-headline);
  }

}

h2 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-solid);
  font-weight: var(--font-weight-6);
  margin-top: 0;
  margin-bottom: var(--base-spacing);
}
h3 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-6);
  margin-top: 0;
  margin-bottom: var(--base-spacing);
}
h4 {
  font-size: var(--font-size-4);
  margin-top: 0;
  margin-bottom: var(--base-spacing);
}
h5 {
  font-size: var(--font-size-5);
  margin-top: 0;
  margin-bottom: var(--base-spacing);
}
h6 {
  font-size: var(--font-size-6);
  margin-top: 0;
  margin-bottom: var(--base-spacing);
}

p {
  line-height: var(--lh-copy);
  margin-top: 0;
  margin-bottom: var(--base-spacing);
}

@media screen and (min-width: 60em) {
  footer p {
    margin: 0;
  }
}
