h1, h2, h3, h4, h5, h6 {
  font-weight: var(--fw6);
  line-height: var(--line-height-title);
  margin-top: 0;

}

h2, h3, h4, h5, h6 {
  margin-bottom: var(--space-unit);
}

h1,
.fs1 {
  font-size: var(--font-size-2);
  margin-bottom: var(--space-lg);
}

h2,
.fs2 {
  font-size: var(--font-size-3);
}

h3,
.fs3 {
  font-size: var(--font-size-4);
}

h4,
.fs4,
cite {
  font-size: var(--font-size-5);
}

h5,
.fs5 {
  font-size: var(--font-size-6);
}

h6,
.fs6,
small {
  font-size: var(--font-size-7);
}

p {
  margin-top: 0;
  margin-bottom: var(--space-unit);
  line-height: var(--lh-copy);
}

b,
strong {
  font-weight: bold;
}

footer {
  font-size: var(--font-size-6);
}

@media screen and (min-width: 60em) {
  h1,
  .fs1 {
    font-size: var(--font-size-1);
  }

  h2,
  .fs2 {
    font-size: var(--font-size-2);
  }

  h3,
  .fs3 {
    font-size: var(--font-size-3);
  }

  h4,
  cite,
  .fs4 {
    font-size: var(--font-size-4);
  }

  h5,
  .fs5 {
    font-size: var(--font-size-5);
  }

  h6,
  .fs6,
  small {
    font-size: var(--font-size-6);
  }

  footer p {
    margin: 0;
  }

}
