:root {
--base-font-size: 1rem;
--base-spacing: 1rem;
--base-line-height: 1.5;
--line-height-title: 1.25;
--line-height-solid: 1;
--lh-copy: 1.5;
--base-radius: 5px;
--base-radius-large: 50px;
--spacing-small: .5rem;
--spacing-large: 2rem;
--font-system: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
--font-code: menlo, consolas, monaco, monospace;
--font-hand: 'Indie Flower', cursive;
--font-roboto: 'Roboto Mono', mono;
--f-headline: 3rem;
--font-size-1: 2.25rem;
--font-size-2: 1.5rem;
--font-size-3: 1.25rem;
--font-size-4: 1rem;
--font-size-5: .875rem;
--font-size-6: .75rem;
--color-red: #FF4136;
--color-white: #FFFFFF;
--color-orange: #FF851B;
--color-blue: #0074D9;
--color-dark-gray: #333;
--color-black: #111;
--color-silver: #DDDDDD;
--color-instagram: #E4405F;
--color-linkedin: #0077B5;
--color-dribbble: #EA4C89;
--color-github: #181717;
--color-twitter: #1DA1F2;

--measure: 30em;
--p5: 4rem;
--font-weight-4: 400;
--font-weight-6: 600;
}
