.white-theme main {
  padding-top: 0;
}

.white-theme main .hero {
  padding-top: 64px;
}

.white-theme header nav a {
  color: var(--color-white);
}

.white-theme h1 {
  color: var(--color-white);
}

.white-theme .scrolled {
  transition: all 300ms ease;
}

.white-theme .scrolled nav a {
  color: var(--color-dark-gray);
}

.white-theme .scrolled .cta-line-white {
  color: var(--color-red);
  border-color: var(--color-red);
}

.white-theme .hero-skew {
  background-color: var(--color-red);
}
